body {
    background: #eee;
    margin: 0;
    padding: 0
}

.example {background:#FFF;
          width:500px;
          border:1px #000 solid;
          margin:20px auto;
          padding:15px;
          -moz-border-radius:3px;
          -webkit-border-radius:3px;
}



